* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p a {
    color: #272727;
    text-decoration: none;
    font-size: 1rem;
}

.about p a:hover {
    color: #00cc00;
}

.chart-container {
    position: relative; 
    width: 100vw;
    max-width: 1280px;
}